{{> header}}
<main class="ly-main ly-hoge">
  <section class="ly-main__contents">
    <h2 class="main__title is-headingLv2">基本情報<h2>

    <div class="main__body">
      <table class="table type-02">
        <tbody>
          <tr>
            <th>
              店舗名
            </th>
            <td>
              あああ店
            </td>
          </tr>

          <tr>
            <th>住所</th>
            <td>
              〒100-0000<br>東京都千代田区丸の内○○　○○ビル
            </td>
          </tr>

          <tr>
            <th>電話番号</th>
            <td>
              06055555555
            </td>
          </tr>
        </tbody>

        <p class="link__modify"><a href="#"><span class="icn icn--linkArrowR"></span>変更はこちら</a></p>
      </table>
    </div>
  </section>

  <section class="ly-main__contents">
    <h2 class="main__title is-headingLv2">基本情報<h2>

    <div class="main__body">
      <table class="table type-01">
        <thead>
          <tr>
            <th>メールアドレス</th>
            <th>操作</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <div class="ly-textBox">
                <input type="text" name="" value="" size="20">
                <button type="button" class="btn is-btnS js-popupTrigger">テスト送信</button>
              </div>
            </td>

            <td>
              <div class="ly-textBox">
                <label><input type="checkbox" name="" value="">削除する</label>
              </div>
            </td>
          </tr>

          <tr>
            <td colspan="3"><button type="button" class="btn is-btnS js-tblListAddTrigger">追加</button></td>
          </tr>

        </tbody>

      </table><!-- / .tblType01 -->
    </div>
  </section>

</main>
{{> footer}}