{{> head}}
<header class="ly-header">
  <h1 class="header__ttl">{{title}}</h1>
  <p class="header__explain">ここはヘッダーです。</p>

  <a href="/index.html" class="header__link">indexへ遷移</a>
  <a href="/page2/index.html" class="header__link">page2へ遷移</a>
  <a href="/hoge/index.html" class="header__link">hogeへ遷移</a>

  <p>{{name}}</p>
</header>
